{% extends 'base.html' %}

{% block content %}

    <div class="container pt-3 px-5">
    {% if url_name != 'shop_items_consolidated' %}
        <div class="row">
            <div class="col">
                <button class="btn btn-md btn-dark btn-block"
                    onclick=location.href="{% url 'shop_item_create' fridgePk=fridgeId%}">
                    <i class="fa fa-plus"></i> New item
                </button>
            </div>
            <div class="col">
                <button class="btn btn-md btn-dark btn-block"
                    onclick=location.href="{% url 'fridge_items'  fridgePk=fridgeId%}" class="btn btn-primary">
                    <i class="fa fa-arrow-left"></i> Fridge
                </button>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col">
                <button class="btn btn-md btn-dark btn-block"
                    onclick=location.href="{% url 'fridge_list' %}" class="btn btn-primary">
                    <i class="fa fa-arrow-left"></i> Overview
                </button>
            </div>
        </div>
    {% endif %}
    </div>



    <h3 class="text-center p-5">{{ page_title }}</h3>

    <div class="container px-5">
        <table class="table text-center"
            style="border-collapse: collapse;
                border-radius: 0.5em;
                overflow: hidden;"
        >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col" colspan="3">Action</th>
                </tr>
            </thead>

            {% for shoppingEntry in shoppingEntries %}
                <tr class="bg-white">
                    <th scope="row" class="align-middle">{{ shoppingEntry.title }}</th>
                    <td class="align-middle">{{ shoppingEntry.categorystr }}</td>
                    <td class="align-middle">{{ shoppingEntry.quantitystr }}</td>
                    <td>
                        <button class="btn btn-lg btn-dark"
                            onclick=location.href="{% url 'shop_item_edit' itemPk=shoppingEntry.id fridgePk=shoppingEntry.fridgeList.id %}">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-lg btn-dark"
                            onclick=location.href="{% url 'add_to_fridge' itemPk=shoppingEntry.id fridgePk=shoppingEntry.fridgeList.id%}">
                            <i class="fa fa-check"></i>
                        </button>
                        <button class="btn btn-lg btn-dark"
                            onclick=location.href="{% url 'shop_item_delete' itemPk=shoppingEntry.id fridgePk=shoppingEntry.fridgeList.id %}">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}