body{
    background: #add0cc;
}

.navbar{
    background: #977390;
    border-bottom: solid 1px #363635;
    height: 40px;
    transition: top 0.3s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 10vh;
    width: 100%;
    background: #977390;
    border-top: solid 1px #363635;
}

