{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <h3 class="text-center pt-5 pb-0">{{ page_title }}</h3>

    <form action="" enctype="multipart/form-data" method="post" class="form p-5">
        <!--Use tokens to prevent CSRF during login-->
        {% csrf_token %}

        <div class="container px-5">
            {% bootstrap_form form %}
        </div>
        <div class="container pt-3 px-5">
            <div class="row">
                <div class="col">
                    <button class="btn btn-md btn-dark btn-block"
                        type="submit">
                        <i class="fa fa-check"></i> Save
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-md btn-dark btn-block"
                        onclick=location.href="{% url 'fridge_list' %}" class="btn btn-primary">
                        <i class="fa fa-arrow-left"></i> Return
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}