{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'item_create' fridgePk=fridgeId%} " class="btn btn-primary">Add new entry</a>
    <a href="{% url 'shop_items' fridgePk=fridgeId%}" class="btn btn-primary">Shopping list</a>
    <a href="{% url 'fridge_list'%}" class="btn btn-primary">Show every fridge</a>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Quantity</th>
            <th colspan="3"></th>
        </tr>
        </thead>

        {% for fridgeEntry in fridgeEntries %}
            <tr>
                <td>{{ fridgeEntry.title }}</td>
                <td>{{ fridgeEntry.categorystr }}</td>
                <td>{{ fridgeEntry.quantitystr }}</td>
                <td><a href="{% url 'item_edit' itemPk=fridgeEntry.id fridgePk=fridgeEntry.fridgeList.id %}"
                       class="btn btn-primary">Details</a></td>
                <td><a href="{% url 'add_to_shopping_list' itemPk=fridgeEntry.id fridgePk=fridgeEntry.fridgeList.id%}" class="btn btn-primary">Add to shopping list</a></td>
                <td><a href="{% url 'item_delete' itemPk=fridgeEntry.id fridgePk=fridgeEntry.fridgeList.id %}"
                       class="btn btn-primary">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}