{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'fridge_item' %}" class="btn btn-primary">Add new entry</a>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Category</th>
        </tr>
        </thead>

        {% for fridgeEntry in fridgeEntries %}
            <tr>
                <td><a href="{% url 'fridge_item' %}">{{ fridgeEntry.title }}</a></td>
                <td><a href="{% url 'fridge_item' %}">{{ fridgeEntry.category }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}